* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image:url(image/background.jpeg);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

body:before{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.6);
}

.content {
    margin: 0 auto;
    width: 1060px;
    position: relative;
}

.header {
    padding-top: 25px;
}

.logo-picture {
    height: 44px;
    width: 46px;
    display: inline-block;
    background-image: url(image/logo.png);
}

.logo:hover .logo-picture {
    background-image: url(image/logo-orange.png);
}

.logo {
    font-size: 29px;
    margin-top: 0;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    float: left;
    
}

.logo:hover .logo-title {
    color: #F26522;

}

.logo:hover .holidays {
    color: #F26522;

}

.logo-title {
    display: inline-block;
}

.holidays {
    font-size: 18px;
    display: block;
}

.header-right {
    float: right;
    text-align: right;
}

.header-link {
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;

}

.tours {
    clear: both;
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tour {
    display: block;
    width: 312px;
    text-decoration: none;
    
}

.tour-image {
    position: relative;
}

.tour-image-main {
    width: 100%;
    display: block;
    
}

.tour-img-descr {
    background-color: #F26522;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    bottom: 0;
    right: 0;
    padding: 16px 21px 16px 21px;
    display: none;
    
    
}

.tour:hover .tour-img-descr {
    display: flex;
}

.tour-price {
    color: #FFFFFF;
    

}

.from {
    font-size: 10px;

}

.price {
    font-size: 20px;
    display: block;

}   

.tour-details {
    color: #FFFFFF;
    font-size: 14px;

}

.arrow {
    margin-left: 10px;
}

.tour-descr {
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;

}

.tour:hover .tour-descr {
    color: #F26522;
}

.footer {
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    padding-top: 61px;
    padding-bottom: 20px;
}